header.header 
    div.container
        div.header-inner Free Shipping on US Orders Over $60
        div.header-nav
            ul.nav-list
                a(href="#") Shop
                a(href="#") The Edit
                a(href="#") Our Story
                a(href="#") Reviews
            img.logo(src=" ./assets/imgs/logo.svg", alt="logo")
            div.header-profile 
                a(href="#") Account
                div.buy 
                    img(src="./assets/imgs/bag", alt="bag")
                    p 0